<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Car</title>
</head>
<body>

<h3>Create new Car!</h3>

<form th:method="POST" th:action="@{/cars}" th:object="${car}">

    <label for="model">Model:</label>
    <input type="text" th:field="*{model}" id="model" placeholder="Ford">
    <div style="color:darkred" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Name error</div>
    <br>

    <label for="year">Year:</label>
    <input type="text" th:field="*{year}" id="year" placeholder="2022">
    <div style="color: darkred" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
    <br>

    <label for="color">Color:</label>
    <input type="text" th:field="*{color}" id="color" placeholder="blue">
    <div style="color: darkred" th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Color error</div>
    <br><br>

    <input type="submit" value="Create!">
</form>
</body>
</html>